.DS_Store
*.pyc
.tox
miepython/__pycache__
dist
docs/.ipynb_checkpoints
docs/omlc.org
docs/refractiveindex.info
docs/_build
docs/api
miepython.egg-info
.vscode/*
venv/
04_plot.png
tests/.ipynb_checkpoints