-e .
#
# Test
pytest
tox
#
# Testing notebooks
importlib_resources
numpy
matplotlib
scipy
nbconvert
nbformat
numba
#
# Lint
rstcheck
pylint
pydocstyle
#
# Docs
notebook
#
# Release
check-manifest
pyroma