-e .
#
# Test
pytest
debugpy
setuptools
#
# Testing notebooks
numpy
matplotlib
matplotlib-inline
scipy
nbconvert
nbformat
numba
#
# Lint
rstcheck
pylint
pydocstyle
#
# Docs
notebook
#
# Release
check-manifest
pyroma
pyyaml
requests
