-e .
#
# Test
pytest
libarchive-c
setuptools
numba

# Testing notebooks
numpy
matplotlib
scipy
imageio

# Lint
ruff
yamllint
rstcheck
pylint
pyroma
black[jupyter]

# Release
check-manifest
pyroma
pyyaml
requests
build

# docs
jupyter-client>=8
ipykernel>=6
nbconvert
nbformat
nbsphinx==0.9.7
Sphinx==8.1.3
sphinx_automodapi
sphinx_rtd_theme

# jupyterlite
jupyterlite-core==0.6.4
jupyterlite-pyodide-kernel==0.6.1

jupyter_server
jupyterlab_server