---
name: test

on:    # yamllint disable-line rule:truthy
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:  # allow manual triggering

jobs:
  test:
    runs-on: ubuntu-latest
    name: Build and test

    strategy:
      matrix:
        python-version: ['3.7', '3.12']

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package and dependencies
        run: |
          pip install -r requirements.txt
          pip install -e .  # current package in editable mode

      - name: Test with pytest
        run: |
          python -m pytest tests/test_mie.py
